<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bilgikutusu">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tahta"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tahta"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GooglegirisActivity" />
        <activity android:name=".AyarlarActivity" />
        <activity android:name=".activity_ayarlar" />
        <activity android:name=".PuanActivity" />
        <activity android:name=".QuestionsActivity" />
        <activity android:name=".SetsActivity" />
        <activity android:name=".CategoriesActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>